body{
  margin: 10px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
h1{
  margin: 10px;
  color: white;
}
li{
  list-style: none;
  display: flex;
  color: white;
  padding: 5px;
}
button{
  margin: 10px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
}


.janela{
background-color: pink;
border-radius: 10px;
}

.perguntas{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
